.nav-wrapper {
  padding: 0 2rem;
}

.price {
  font-size: 2rem;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product h1 {
  margin-bottom: 2rem;
}

.product img {
  max-width: 600px;
  height: auto;
}

.product .price.big {
  font-style: 2.5rem;
}

.card-action.action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-form {
  margin-bottom: 2rem;
}